body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f6ef;
  color: #1f1f1f;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #282828;
  background-color: #f9f6ef;
  color: #1f1f1f;
  text-decoration: none;
}

.logo img {
  height: 28px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.login-btn {
  font-family: "Source Code Pro", sans-serif;
  padding: 6px 14px;
  background-color: #eda398;
  border: 1.5px solid #282828;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-btn:hover {
  background-color: #193497;
  color: #f9f6ef;
}

.user-icon img {
  height: 28px;
  border-radius: 50%;
  border: 1.5px solid #282828;
}

.invoice-container {
  max-width: 1536px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px;
}

.invoice-form {
  background-color: #fff;
  border-radius: 12px;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 624px;
  text-align: left;
}
.currency-selector {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 20px;
}
.invoice-preview {
  background-color: #fff;
  border-radius: 12px;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 624px;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.form-table td {
  padding: 10px;
  vertical-align: top;
}

.form-table input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fdfdfd;
}
.item-table {
  width: 100%;
  border-collapse: collapse;
  background-color: ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.item-table th,
.item-table td {
  border: 1px solid #1f1f1f;
  padding: 10px 12px;
  text-align: left;
}

.item-table th {
  background-color: #f9f6ef;
  color: #333;
  font-weight: 600;
}

.item-table td input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
}

.item-table tr:nth-child(even) {
  background-color: ffffff;
}

.item-table tr:hover {
  background-color: ffffff;
}

input:disabled {
  background-color: #f5f5f5;
  color: #555;
}
.item-table td.delete-cell {
  padding: 0 !important;
  border: 1px solid white !important;
  text-align: center;
}

.delete-btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: #eda398;
}

.delete-btn:hover {
  color: rgb(191, 0, 0);
}

.delete-btn svg {
  width: 22px;
  height: 22px;
}

#add-row-btn {
  background: none;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  color: #193497;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

#add-row-btn svg {
  width: 24px;
  height: 24px;
  transition: transform 0.1s ease;
}

#add-row-btn:hover {
  color: #2ead01;
}

#add-row-btn:hover svg {
  transform: scale(1.2);
}

/* PREVIEW TABLE ONLY (NO INPUTS) */
.form-preview {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}

.form-preview td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

.form-preview h3 {
  margin: 0;
  color: #193497;
}

.form-preview h4 {
  margin: 10px 0 5px;
  color: #193497;
}

#itemsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}

#itemsTable th,
#itemsTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#itemsTable th {
  background-color: #f9f6ef;
}
#billingTotal {
  text-align: right;
  font-size: 14px;
}

#downloadPDF {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
#commentTable {
  margin-top: 20px;
  margin-bottom: 20px;
}
input[readonly] {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 2px 0;
  width: auto;
  text-align: right;
}
.invoice-footer {
  border-top: 1px solid #ccc;
  width: 100%;
  text-align: left;
  margin-top: 350px;
}

#thankYou {
  font-size: 18px;
  font-weight: bold;
  color: #1f1f1f;
}
#downloadPDF:hover {
  transform: scale(1.05);
  background-color: #3a78c2;
}
/* Responsive */
@media (max-width: 768px) {
  .invoice-container {
    flex-direction: column;
  }

  .invoice-form,
  .invoice-preview {
    width: 100%;
    margin: 20px 0;
  }
}
